.paragraph--type--global-button{
	div{
		text-align: center;
    margin: 3em 0;
			a{
			border: 3px solid #578e9b;
	    padding: 0.8rem 1.6rem;
	    font-family: "Open Sans", sans-serif;
	    font-weight: 700;
	    color: #578e9b;
	    text-decoration: none;
	    -webkit-transition: all 0.5s ease;
	    transition: all 0.5s ease;
	    &:hover{
    	background-color: #578e9b;
    	color: #fff;
    	}
		}
	}
}
